<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"
    ></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/alpine-morph.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../styles/style.css" rel="stylesheet" />
    <title>Albuquerque Navigators Home</title>
  </head>
  <body>
    <main>
      <div class="text-center">
        <h1 class="text-3xl font-thin my-5">Albuquerque Navigators</h1>
      </div>
    </main>
  </body>
</html>