<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"
    ></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/alpine-morph.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/output.css" rel="stylesheet" />

    <title>Staff</title>
  </head>
  <body>
    <div class="text-center">
      <h1 class="text-3xl font-thin my-5">Albuquerque Staff</h1>
      <!-- <a
  class="inline-block rounded border border-purple-600 bg-purple-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
  href="#"
>
  Download
</a>
<a
  class="inline-block rounded border border-amber-500 bg-amber-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
  href="#"
>
  Download
</a>
<a
  class="inline-block rounded border border-pink-600 bg-pink-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
  href="#"
>
  Download
</a>
<a
  class="inline-block rounded border border-yellow-500 bg-yellow-500 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
  href="#"
>
  Download
</a>
<a
  class="inline-block rounded border border-lime-600 bg-lime-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
  href="#"
>
  Download
</a>
<a
  class="inline-block rounded border border-cyan-600 bg-cyan-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
  href="#"
>
  Download
</a>
<a
  class="inline-block rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
  href="#"
>
  Download
</a>
<a
  class="inline-block rounded border border-red-600 bg-red-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
  href="#"
>
  Download
</a> -->


      <!-- <button 
            hx-get="/staff" 
            hx-target="#staff"
            hx-indicator="#loading"
            hx-vals='{"limit": 5}'
            class="bg-blue-500 text-white py-2 px-3 my-5 rounded-lg"
        >
            fetch Staff
        </button> 
        <span class="htmx-indicator" id="loading">
            <img src="img/loader.gif" alt="loading..." class="m-auto h-10">
        </span> -->
    </div>
    <div class="m-5 mt-8 columns-1 lg:columns-2">
      <div
        id="staffs"
        hx-get="/staffs"
        hx-swap="outerHTML"
        hx-trigger="load"
      ></div>
    </div>
  </body>
</html>

<!-- <div class="m-5 mt-8 grid grid-cols-1 gap-1 md:grid-cols-2 ">
  <div id="staffs" hx-get="/staffs" hx-swap="outerHTML" hx-trigger="load"></div>
</div> -->
